.lyrics {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 1;
    text-shadow: 0 0 1px #FFFFFF, 0 0 1px #FFFFFF, 0 0 1px #FFFFFF;
    font-weight: bold;
}

h1{
    font-size: 4rem;
}

.fixed-width{
    width: 100%;
}

img{
    opacity: .75
}